language: php
sudo: false

env:
  - COMPOSER_DISABLE_XDEBUG_WARN=1

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_install:
  - composer self-update
  - composer install

script: phpunit
